body {
    background-image: url("background.jpg");
    background-color: black;
    background-size: cover;
    color: white;
}

#h1 {
    text-align: center;
}

.form{
    margin-left: 470px;
    margin-right: 500px;
    padding: 30px;
    
}

#signup {
    margin-left: 500px;
}